body,html{
  background-image:url(/images/welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.brder{
  box-shadow: 2px 2px 12px 2px  black;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}